<h1>Login</h1>
<hr />
<div class="col-md-4">
  <form
    #loginForm="ngForm"
    (ngSubmit)="login(loginForm.value)"
    autocomplete="off"
    novalidate
  >
    <div class="form-group">
      <label for="userName">User Name:</label>
      <em
        *ngIf="
          loginForm.controls.userName?.invalid &&
          (loginForm.controls.userName?.touched || mouseoverLogin)
        "
      >
        required</em
      >
      <input
        required
        (ngModel)="(userName)"
        name="userName"
        id="userName"
        type="text"
        class="form-control"
        placeholder="User Name..."
      />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <em
        *ngIf="
          loginForm.controls.password?.invalid &&
          (loginForm.controls.password?.touched || mouseoverLogin)
        "
      >
        required</em
      >
      <input
        required
        (ngModel)="(password)"
        name="password"
        id="password"
        type="password"
        class="form-control"
        placeholder="Password..."
      />
    </div>
    <span
      (mouseenter)="mouseoverLogin = true"
      (mouseleave)="mouseoverLogin = false"
    >
      <button
        [disabled]="loginForm.invalid"
        type="submit"
        class="btn btn-primary"
      >
        Login
      </button>
    </span>
    <button type="button" (click)="cancel()" class="btn btn-default">
      Cancel
    </button>
    <div class="form-validation">
      <br />
      loginForm.valid:
      <span>
        {{ loginForm.valid }}
      </span>
      <br />

      loginForm.ivalid:
      <span>
        {{ loginForm.invalid }}
      </span>

      <br />
      loginForm.dirty:
      <span>
        {{ loginForm.dirty }}
      </span>

      <br />
      loginForm.touched:
      <span>
        {{ loginForm.touched }}
      </span>
      <br />
      <br />
      <br />
      loginForm.controls.userName?.valid:
      <span>
        {{ loginForm.controls.userName?.valid }}
      </span>
      <br />
      loginForm.controls.password?.valid:
      <span>
        {{ loginForm.controls.password?.valid }}
      </span>
    </div>
  </form>
</div>

<style>
  .form-validation {
    font-weight: 600;
    color: goldenrod;
  }

  .form-validation span {
    color: snow;
  }
</style>
